body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#CCCCCC;
	background:#3a3a3a;
	
}

.wrapper {width:100%; overflow:hidden;}

.fleft {float:left;}

a.btn
{display:inline-block; float:right; font-size:18px; line-height:31px; text-transform:uppercase; text-decoration:none; padding:0 14px; color:#fff; background-color:#fe0045;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	position:relative;
}

.indent {padding:8px 12px 10px 12px; display:block;
  	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;}

.indent-bot3 {margin-bottom:45px;}



.buttons a:hover {cursor:pointer;}


h3 {font-size:30px; line-height:46px; color:#2a2f31; font-weight:normal;}

.block {
	width:100%;
	background:url(../img/log/login-form-tail.gif) 0 0 repeat-x #161616;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
	box-shadow: 1px 1px 10px #000;
	position:relative;
	background-color: #CCCCCC;
}
	
.block h3 {
	color:#333333;
	line-height:0px;
}


#form-login label {
	display:block;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}
#form-login label span {display:inline-block; width:0px;
                        display:block;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;}
	
#form-login .input {width:232px; font-size:12px; color:#666; padding:5px 5px; font-family:Arial, Helvetica, sans-serif; border:1px solid #b0b0b0; background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	position:relative;
}
#form-login .buttons {padding-top:7px;}
#form-login .btn {display:inline-block; float:right; font-size:18px; line-height:31px; text-transform:uppercase; text-decoration:none; padding:0 14px; color:#fff; background-color:#fe0045;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	position:relative;
}
#form-login .btn:hover {background:#d9013c;}
#form-login .buttons span {
	display:inline-block;
	color:#333333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}
#form-login a {
	color:#333333;
	text-decoration:underline;
}
#form-login a:hover {text-decoration:none;}
#form-login .checkbox {margin:0 8px 0 0; padding:0;}
#form-login .padding {padding: 8px 0 0 0;}
.mensaje_estado_ingreso {display:inline-block; float:left; font-size:18px; line-height:31px;width:100%; }
.mensaje_estad {color:#FF0000;}
.pedir_contra { color:#333333; text-decoration:underline; }


